*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-board{
    width: 50%;
    height: 500px;
    border: 1px solid #0000ff;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #aed4f8;
}
.pipe{

    position: absolute;
    bottom: 30px;
    width: 80px;
    animation: pipe-animation 2s infinite linear;

}

@keyframes pipe-animation{

   from{
    right:-80px;             /* é coloca desta forma para que o elemento não apareça abruptamente na tela*/
   }
   to {
    right:  100%;
   }

}
.mario{
    display: 'block';
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 80px;

}

.jump{

    animation: jump 1s;
}

@keyframes jump{

   0%{
    bottom: 30px;
   }
   40%{
    bottom: 200px;;
   }
   50%{
    bottom: 200px;
   }
   60%{
    bottom: 200px;
   }
    100%{
        bottom:30px;
    }
}

.gameOver{
    display: none;      /* muda de block para none*/
    position: absolute;
    bottom: 120px;
    left: 10px;
    height: 65px;
}

.nuvens{

    position: absolute;
    top:20px;
    height: 180px;
    animation: nuvens-animation 30s infinite;

}

@keyframes nuvens-animation{

    from{
     left: -370px;;             /* é coloca desta forma para que o elemento não apareça abruptamente na tela*/
    }
    to {
     left:  100%;
    }
}
.solo{
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;


}
.pontuacao{
    position: absolute;
    right: 10%;
    top: 3%;
    color: rgb(246, 248, 242);
    font-size: xx-large;
    font-weight: 300;
    font-family: fantasy;

}
.pix{
    position: absolute;
    left: 10%;
    top:3%;
    color: rgb(246, 248, 242);
    font-size: large;
    font-weight: 300;
    font-family: fantasy;
}
